<style>
    .card-img-top {
        max-height: 200px;
        width: auto; 
        margin: auto;
        display: block; 
    }

    .card-body {
        min-height: 150px; /* Set a minimum height for the card body */
    }
</style>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4" style="width: 100%;">
                    <img src="@(string.Concat("https://localhost:7035", product.ImageUrl))" alt="@product.Name" class="card-img-top" />
                    <div class="card-body">
                        <h3 class="card-title">@product.Name</h3>
                        <h6>Price: @product.Price</h6>
                        <p class="card-text">@product.Description</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
